<h3><a href="https://github.com/BrainJS/brain.js#brainjs"> Brain JS: Un reseau neuronal tout en JavaScript ! </a></h3>
<p>Cette librairie permet d'exploiter rapidement et simplement un reseau de neurones.</p>