<h3> Video Game Development </h3>
<p>
  I plan to develop a video game using the famous engine Unreal Engine 4.
  I submitted to certain constraints in order to make this challenge as interesting as possible:
</p>
<ul>
  <li>3D game</li>
  <li>Coherent history</li>
  <li>Original level-design</li>
  <li>Creation of all music, 3D models, textures, illustrations</li>
</ul>