<h3>Développement de jeu vidéo</h3>
<p>
  J'ai pour projet de développer un jeu vidéo à l'aide du célèbre moteur Unreal Engine 4.
  Je me suis soumis à certaines contraintes afin de rendre cce défi le plus intéressant possible :
</p>
<ul>
  <li>Jeu en 3D</li>
  <li>Histoire cohérente</li>
  <li>Level-design original</li>
  <li>Création de toutes les musiques, modèles 3D, textures, illustrations</li>
</ul>