<div id="gallery">
  <h1>Gallery</h1>
  (I am not the author of any of these illustrations. They serve as a basis for the structure of the site.)
  <div class="gallery" id="grp-pictures">
  <div class="mb-3 pics animation all 3">
    <img class="img-fluid" src="images/galerie/tim_kaminski.jpg" alt="tim_kaminski" />
  </div>
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="images/galerie/silver_cube.jpg" alt="silver_cube" />
  </div>
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="images/galerie/river_night.jpg" alt="river_night" />
  </div>
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="images/galerie/orange_river.jpg" alt="orange_river" />
  </div>
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="images/galerie/orange_mountains.png" alt="orange_mountains" />
  </div>
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="images/galerie/orange_forest.jpg" alt="orange_forest" />
  </div>
  <div class="mb-3 pics animation all 3">
    <img class="img-fluid" src="images/galerie/night_illustration.jpg" alt="night_illustration" />
  </div>
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="images/galerie/jungle's_bird.jpg" alt="jungle's_bird" />
  </div>
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="images/galerie/house_in_the_night.jpg" alt="house_in_the_night" />
  </div>
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="images/galerie/halloween.jpg" alt="halloween" />
  </div>
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="images/galerie/cleaner.jpg" alt="cleaner" />
  </div>
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="images/galerie/blue_house.png" alt="blue_house" />
  </div>
  <div class="mb-3 pics animation all 3">
    <img class="img-fluid" src="images/galerie/abstract_desert.jpg" alt="abstract_desert" />
  </div>
</div>