<div id="presIntro">
  <h2>Hello !</h2>
  My name is Kévin Bourbasquet.
  </br>
  I am a student on IT developement (Web and Software) and passionate about a lot of subjects: piano, photography, drawing, astronomy, ...
  </br>
  What I like above all is the discovery! I am very curious and interested in all fields.
  </br>
</div>
<div id="presStudy">
  <h2>My studies</h2>
  <p>
    In college, being more interested in design than playing video games, I started studying the subject and trying to create my own game.
    So I started dozens of projects under Unreal Engine and RPGMaker to try, on the one hand, to understand the mechanics that aroused my curiosity, while hoping to reach a concrete end result.
    Unfortunately, being too ambitious every time on my projects, none has ever succeeded ...
  </p>
  <p>
    This discovery of the video game led me to look at the computer development (area I had chosen to block so far being greatly helped by the Unreal Engine blueprints system, for example).
    My first experience in the field, was to learn C ++. To be quite honest, I was taking a class on Open Classroom, and I did not understand anything at all. This incomprehension and this difficulty intrigued me even more and it was at this time that I wanted to continue my studies on this subject, in order to understand this damn tutorial!
  </p>
  <p>
    So I arrived in BAC Professional ELEEC (Electrotechnical Energy, Communicating Equipment), which seemed to be, at the moment, the most relevant choice to achieve my goal (a BAC Professional SEN (Electronic Electronic Systems) was also possible).
    This 3 year period allowed me to recover from my college years which were psychologically very difficult.
    I did not forsake the computer development, which for me, was still a source of many questions!
    So it was in the second that I became interested in what is today my favorite domain, web development.
    I then dissected some tutorials about HTML, CSS, PHP. I still had this problem to see things still very big that prevented me from finalizing anything ...
    It was then that after three brilliant years during which I was able to learn many things in the electrical field but also in the field of building
    (thanks to the 6 internships in the company), I turned to a BTS SIO (Computer Systems Organizations) option SLAM (Software Solutions and Business Applications).
  </p>
  <p>
    2 years. In 2 years of my life, I was able to clarify so many areas of shadows concerning computer development!
      </br>
    To start, you can begin training with a common period for people who want to move towards development
    and those wishing to continue as network administrator, is a chance for everyone to partially discover a world so close and essential
    which could have been stalled for some reason.
      </br>
    Then, be able to see at the same time of the logistic development, the web development, in addition to the management and the handling of database,
    allowed me to compare the different points of each area, as well as to see my preferences.
    I finally found web development more attractive, not least because of the portability and adaptability of the application.
    Although never really having been able to finalize any project, what always pleased me was to be able to present and share its creation, which web development favors.
    In addition, being passionate about drawing since I was little, I was able to develop this passion with my professional project by focusing on areas such as graphic design, UX design, etc.
  </p>
  <p>
    Thanks to my technology watch (necessary in the training) that I chose to do on the JavaScript frameworks, I could still see in the web development an additional interest
    by realizing all the possibilities that we have to reconcile web development and the graphic domain (drawing, painting, modeling, etc.)!
      </br>
    In addition, this exercise has shown me the importance of keeping up to date for a developer! I continue this watch on this site in the section Veilles -> Veille technologique.
  </p>
  <p>
    In addition, this training also allowed me to gain some experience in the workplace with a first internship of 1 month that I had the chance to do at NAVAL GROUP in Lorient and a second 2 months at SAG ( Food Company Guidel).
    During the first internship I realized two major activities, one conssisstant to study and document a new technology to see what it allowed or not to do,
    then a second conssisstant to realize on EXCEL, in visual basic, a macro making it possible to take in certain files certain data and to concentrate them in one and the same document. I then had to create a technical documentation as well as a user documentation to allow the exploitation of the program.
    For my second internship, I was in charge of the realization of a project of web site internal to the company aiming at displaying various information on the news: the sport, the world / local information, slideshows concerning the security, as well as advertising related to the group.
    This internship was really very satisfying because it allowed me to develop my first web project to have succeeded and to be exploited! I was also contacted by the company during a period of school vacancy to change the site to display a specific page on the security statistics of the company (this page still requires some patches today) .
  </p>
  <p>
    Beyond the projects in company, the training foresees the development of two projects, for the same fictional company, GSB, a company of medical representatives.
    The first project was a website allowing medical visitors to create their expense sheets and the authorities to validate them (or not) and then reimburse them.
    The other project was software, designed to allow the secretary to create, modify, delete and consult a visitor (an information sheet),
    allowing the Director of Human Resources to consult with a visitor and then allowing a chargeback to consult various statistics.
  </p>
  <p>
    Although I prefer web development, the project that pleased me the most between the two was the human resource management software.
    First of all, because we realized this project at the end of training and that our knowledge allowed us to develop a much more complete application,
    but also because the specifications, although more complex in the treatments to be carried out, were very free on the form which pushed us to work
    and to imagine our own application. This allowed each group to present an application that is always very different.
  </p>
  <p>      
    Beyond my preferences these two projects allowed us to learn how to use Azure DevOps, a collaboration tool,
    which allowed us to organize the progress of our projects using planning in sprints on a Kanban with estimated times for each tasks
    and the time finally used. We also used this tool as a version management tool, with git.
    Our buddy being very communicative, we have not had any real difficulties in using this tool and we have been able to exploit the advantages of these tools.
    It will be noted some times when it was necessary to us to manage conflicts of versions.
  </p>
  <p>
    In conclusion, a strong interest in video games in college, three years of transitions, then two years to study computer development. The result will be a particular interest for web development and the desire to continue on this path by highlighting my taste for visual work.
  </p>
</div>
<div id="presHobbie">
  <h2>My hobbies</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget dictum ex, sed molestie augue. Aliquam mollis est nec mollis venenatis. Nulla sed facilisis erat.
    Cras fermentum lacinia sapien, quis luctus sem volutpat non. Donec fringilla erat quis metus egestas efficitur. Mauris metus augue, rutrum a convallis nec, pretium a ante.
    Mauris vitae est ullamcorper, tristique tortor eget, laoreet diam. Maecenas at risus efficitur, aliquet libero pellentesque, faucibus augue.
    Ut sed condimentum neque, vel fermentum lacus. Sed fringilla sapien eu diam interdum sodales. Sed tristique turpis maximus porta tristique.
    Maecenas ornare lobortis sollicitudin. Vivamus commodo faucibus ante, ut viverra ligula euismod at. Sed sed diam nec massa tincidunt hendrerit. Curabitur id iaculis libero.
    Mauris bibendum enim id tortor tristique, molestie posuere neque cursus.
  </p>
  <p>
    Nam sapien purus, pretium mattis dolor a, pharetra tincidunt nisl. Quisque massa erat, porttitor eu placerat et, sagittis a risus.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra luctus felis ac blandit. In gravida ipsum vitae ligula vestibulum rhoncus.
    Integer pulvinar posuere lacinia. Sed vitae blandit nisi, sit amet porttitor tortor. Curabitur et tincidunt purus, nec dictum odio.
    Phasellus dictum pellentesque lacus at posuere. Proin condimentum, libero at efficitur tristique, nisi tellus fermentum dolor, ut hendrerit est tortor sit amet quam.
    Phasellus nibh leo, rutrum at velit ut, laoreet vulputate leo. Praesent sit amet dignissim lectus, vel convallis odio. Sed sed fermentum mauris.
    Curabitur pulvinar turpis maximus porta aliquet.
  </p>
  <p>
    Quisque dictum velit leo, eu iaculis urna blandit sed. Mauris tortor justo, suscipit vitae pellentesque vel, vulputate et felis. Nullam vitae enim nec nibh lacinia iaculis.
    Donec viverra fermentum nibh gravida dapibus. Aliquam at semper justo, nec elementum urna. Mauris finibus felis eu tellus dictum, nec dapibus mauris tempor.
    Quisque elementum eros id libero fringilla, nec auctor elit pretium. Nunc arcu lorem, auctor non ornare id, laoreet ac ex.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
</div>
<div id="presProject">
  <h2>My projects</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget dictum ex, sed molestie augue. Aliquam mollis est nec mollis venenatis. Nulla sed facilisis erat.
    Cras fermentum lacinia sapien, quis luctus sem volutpat non. Donec fringilla erat quis metus egestas efficitur. Mauris metus augue, rutrum a convallis nec, pretium a ante.
    Mauris vitae est ullamcorper, tristique tortor eget, laoreet diam. Maecenas at risus efficitur, aliquet libero pellentesque, faucibus augue.
    Ut sed condimentum neque, vel fermentum lacus. Sed fringilla sapien eu diam interdum sodales. Sed tristique turpis maximus porta tristique.
    Maecenas ornare lobortis sollicitudin. Vivamus commodo faucibus ante, ut viverra ligula euismod at. Sed sed diam nec massa tincidunt hendrerit. Curabitur id iaculis libero.
    Mauris bibendum enim id tortor tristique, molestie posuere neque cursus.
  </p>
  <p>
    Nam sapien purus, pretium mattis dolor a, pharetra tincidunt nisl. Quisque massa erat, porttitor eu placerat et, sagittis a risus.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra luctus felis ac blandit. In gravida ipsum vitae ligula vestibulum rhoncus.
    Integer pulvinar posuere lacinia. Sed vitae blandit nisi, sit amet porttitor tortor. Curabitur et tincidunt purus, nec dictum odio.
    Phasellus dictum pellentesque lacus at posuere. Proin condimentum, libero at efficitur tristique, nisi tellus fermentum dolor, ut hendrerit est tortor sit amet quam.
    Phasellus nibh leo, rutrum at velit ut, laoreet vulputate leo. Praesent sit amet dignissim lectus, vel convallis odio. Sed sed fermentum mauris.
    Curabitur pulvinar turpis maximus porta aliquet.
  </p>
  <p>
    Quisque dictum velit leo, eu iaculis urna blandit sed. Mauris tortor justo, suscipit vitae pellentesque vel, vulputate et felis. Nullam vitae enim nec nibh lacinia iaculis.
    Donec viverra fermentum nibh gravida dapibus. Aliquam at semper justo, nec elementum urna. Mauris finibus felis eu tellus dictum, nec dapibus mauris tempor.
    Quisque elementum eros id libero fringilla, nec auctor elit pretium. Nunc arcu lorem, auctor non ornare id, laoreet ac ex.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
  <p>
    Morbi faucibus sodales tortor, ac finibus est congue ac. Proin vitae tellus et odio scelerisque posuere. Phasellus eleifend ante neque, id tempor turpis varius pulvinar.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent suscipit malesuada sem. Ut id dictum risus, et maximus nibh.
    Integer rutrum consectetur commodo. Nulla efficitur vehicula eleifend. Pellentesque viverra vestibulum sodales. Curabitur luctus diam in elit varius scelerisque.
    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus nec eros sed mi cursus accumsan eu at ligula. Sed ut pretium arcu.
    Fusce commodo nisi id odio tincidunt, finibus eleifend purus tincidunt.
  </p>
  <p>
    Duis arcu libero, lacinia id congue eget, pretium eu magna.
    Pellentesque ut pulvinar turpis, laoreet laoreet ligula. Ut ut leo eros. Praesent sagittis elit magna, sed ultricies est mattis vel.
    Sed imperdiet at sem eget elementum. Vestibulum vitae semper arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Quisque consectetur purus augue, in tincidunt ipsum consequat id. Fusce mattis iaculis egestas. Donec in leo a purus convallis imperdiet.
  </p>
</div>