<div id="presIntro">
  <h2>Bonjour !</h2>
  <p>
    Je m'appelle Kévin Bourbasquet.
    </br>
    Je suis étudiant en développement informatique (Web et Logiciel) et passioné par bon nombre de sujets : le piano, la photo, le dessin, l'astronomie, ...
    </br>
    Ce qui me plaît avant tout, c'est la découverte ! Je suis très curieux et m'intéresse un peu à tous les domaines.
    </br>
  </p>
</div>
<div id="presStudy">
  <h2>Mes études</h2>
  <p>
    Au collège, étant plus intéressé par la conception que par le fait de jouer aux jeux vidéos, j'ai commencé à étudier le sujet et à essayer de créer mon propre jeu.
    J'ai donc commencé des dizaines de projets sous Unreal Engine et RPGMaker pour essayer, d'une part, de comprendre les mécaniques qui éveillaient ma curiositée, tout en ésperant arriver à un résultat final concret.
    Malheureusement, étant à chaque fois trop ambitieux sur mes projets aucun n'a jamais réussi à aboutir...
  </p>
  <p>
    Cette découverte du jeu vidéo m'a ammené à me pencher sur le développement informatique (domaine sur lequel j'avais choisi de faire l'impasse jusqu'à présent étant grandement aidé par le système de blueprints de Unreal Engine, par exemple).
    Ma première expérience dans le domaine, a été d'apprendre le C++. Pour être tout à fait honnête, je suivais un cours sur Open Classroom, et je n'avais finalement rien compris. Cette incompréhension et cette difficulté m'ont encore plus intrigué et c'est à cette période que m'est venu l'envi de poursuivre mes études sur ce sujet, afin de comprendre ce fichu tutoriel !
  </p>
  <p>
    Je suis donc arrivé en BAC Professionnel ELEEC (ÉLectrotechnique Énergie, Équipements communicants), qui me semblais être, sur le moment, le choix le plus pertinent pour atteindre mon objectif (un BAC Professionnel SEN (Systèmes Électroniques Numériques) était aussi envisageable).
    Cette période de 3 ans m'a permis de me remettre de mes années de collège qui ont été psychologiquement très difficiles.
    Je n'ai pas pour autant délaissé le développement informatique, qui pour moi, était toujours source de nombreuses questions !
    C'est donc en seconde que je me suis intéréressé à ce qui est aujourd'hui mon domaine de prédiléction, le développement web.
    J'ai alors décortiqué quelques tutoriels concernant HTML, CSS, PHP. J'avais toute fois encore ce problème à voir les choses toujours en très grand qui m'empechai de finaliser quoi que ce soit...
    C'est alors qu'après trois années géniales durant lesquelles j'ai pu apprendre de nombreuses choses dans le domaine électrique mais aussi dans le domaine du bâtiment
    (notamment grâce aux 6 stages en entreprise), je me suis tourné vers un BTS SIO (Systèmes Informatiques aux Organisations) option SLAM (Solutions Logicielles et Applications Métiers).
  </p>
  <p>
    2 ans. En 2 années de ma vie, j'ai pu éclaircir tant de zones d'ombres concernant le développement informatique !
      </br>
    Pour commencer, pouvoir débuter la formation par une période commune aux personnes souhaitant se diriger vers le développement
    et ceux souhaitant continuer comme administrateur réseau, est une chance pour chacun de découvrir partiellement un monde pourtant si proche et essentiel
    sur lequel on aurais pu faire l'impasse, pour une quelconque raison.
      </br>
    Ensuite, pouvoir voir à la fois du dévelopement logciel, du développement web, en plus de la gestion et la manipulation de base de données,
    m'a permis de comparer les différents points de chaque domaines, ainsi que de voir mes préférences.
    J'ai finalement trouvé le développement web plus attrayant, nottament par la fait de la portabilité ainsi que de l'adaptabilité de l'applicatif.
    Bien que n'ayant jamais vraiment pu finaliser un quelconque projet, ce qui m'a toujours plût était de pouvoir présenter et partagé sa création, ce que le développement web favorise.
    De plus, étant passioné de dessin depuis tout petit, j'ai pu faire évoluer cette passion avec mon projet professionnel en m'interessant à des domaines comme le graphisme, l'UX design, etc.
  </p>
  <p>
    Grâce à ma veille technologique (nécessaire dans la formation) que j'ai choisi de faire sur les frameworks JavaScript, j'ai pu voir encore dans le développement web un intérêt supplémentaire
    en me rendant compte de toutes les possibilitées que l'on a de concilier le développement web et le domaine graphique (dessin, peinture, modélisation, etc.) !
      </br>
    De plus cette exercice de veille m'a montré l'importance de ce tenir à jour pour un développeur ! Je  continu d'ailleurs cette veille sur ce site dans la section Veilles -> Veille technologique.
  </p>
  <p>
    Par ailleurs, cette formation m'a aussi permis d'acquérir une certaine expérience en milieu professionnel avec un premier stage de 1 mois que j'ai eu la chance de faire chez NAVAL GROUP de Lorient et un second de 2 mois à la SAG (Société Alimentaire de Guidel).
    Durant le premier stage j'ai réaliser deux activitées majeures, l'une conssisstant à étudier et documenter une nouvelle technologie afin de voir ce qu'elle permettait ou non de faire,
    puis une seconde conssisstant à réaliser sur EXCEL, en visual basic, une macro permettant de prélever dans différents fichiers certaines données et de les concentrer dans un seul et même document. J'ai ensuite du créer une documentation technique ainsi qu'une documentation utilisateur afin de permettre l'exploitation du programme.
    Pour mon deuxième stage, j'ai été en charge de la réalisation d'un projet de site web interne à l'entreprise visant à faire afficher différentes informations sur l'actualité: le sport, les informations mondiales/locales, des diaporamas concernant la sécurité, ainsi que des publicitées liées au groupe.
    Ce stage aura été vraiment très satisfaisant car il m'a permis de développer mon premier projet web à avoir abouti et à être exploité ! J'ai d'ailleurs été recontacté par l'entreprise durant une période de vacance scolaire afin de faire évoluer le site pour faire afficher une page spécifique sur les statistiques de sécurité de l'entreprise (cette page demande encore quelques correctifs aujourd'hui).
  </p>
  <p>
    Au delà des projets en entreprise, la formation prévoit le développement de deux projets, pour une même entreprise fictive, GSB, une entreprise de visiteurs médicaux.
    Le premier projet était un site web permettant aux visiteurs médicaux de créer leurs fiches de frais et aux commptables de les valider (ou non) puis de les rembourser.
    L'autre projet était un logiciel, visant à permettre au secrétaire de créer, modifier, supprimer et consulter un visiteur (une fiche d'informations),
    à permettre au directeur des ressources humaines de consulter un visiteur, puis à permettre à un responsable du suivi des frais de consulter différentes statistiques.
  </p>
  <p>
    Bien que je préfère le développement web, le projet m'ayant le plus plût entre les deux a été le logiciel de gestion des ressources humaines.
    Tout d'abord, car nous avons réalisé ce projet en fin de formation et que nos connaissances nous ont permis de développer une application bien plus complète,
    mais aussi parce que le cahier des charges, bien que plus complexe dans les traitements à réaliser, était très libre sur la forme ce qui nous as poussé à travailler
    et à imaginer notre propre application. Cela a permi à chaque groupe de présenter une application toujours très différentes.
  </p>
  <p>
    Au delà de mes préférences ces deux projets nous ont permis d'apprendre à utiliser Azure DevOps, un outil de collaboration,
    qui nous a permi d'organiser le déroulement de nos projets à l'aide de planification en sprints sur un Kanban avec les temps estimés pour chaque tâches
    et le temps finalement utilisé. Nous avons aussi utilisé cette outil comme outil de gestion de version, avec git.
    Notre binôme étant très communicatif, nous n'avons pas eu de rééls difficultées concernant l'utilisation des cette outil et nous avons pu bien exploiter les avantages des ces derniers.
    On notera tout de même quelques fois où il nous a été nécessaire de gérer des conflits de versions.
  </p>
  <p>
    En conclusion, un fort intérêt pour les jeux vidéos au collège, trois années de transitions, puis deux ans à étudier le développement informatique. En découlera un intérêt particulier pour le développement web et l'envie de poursuivre sur cette voie en mettant en avant mon goût pour le travail du visuel.
  </p>
</div>
<div id="presHobbie">
  <h2>Mes passions</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget dictum ex, sed molestie augue. Aliquam mollis est nec mollis venenatis. Nulla sed facilisis erat.
    Cras fermentum lacinia sapien, quis luctus sem volutpat non. Donec fringilla erat quis metus egestas efficitur. Mauris metus augue, rutrum a convallis nec, pretium a ante.
    Mauris vitae est ullamcorper, tristique tortor eget, laoreet diam. Maecenas at risus efficitur, aliquet libero pellentesque, faucibus augue.
    Ut sed condimentum neque, vel fermentum lacus. Sed fringilla sapien eu diam interdum sodales. Sed tristique turpis maximus porta tristique.
    Maecenas ornare lobortis sollicitudin. Vivamus commodo faucibus ante, ut viverra ligula euismod at. Sed sed diam nec massa tincidunt hendrerit. Curabitur id iaculis libero.
    Mauris bibendum enim id tortor tristique, molestie posuere neque cursus.
  </p>
  <p>
    Nam sapien purus, pretium mattis dolor a, pharetra tincidunt nisl. Quisque massa erat, porttitor eu placerat et, sagittis a risus.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra luctus felis ac blandit. In gravida ipsum vitae ligula vestibulum rhoncus.
    Integer pulvinar posuere lacinia. Sed vitae blandit nisi, sit amet porttitor tortor. Curabitur et tincidunt purus, nec dictum odio.
    Phasellus dictum pellentesque lacus at posuere. Proin condimentum, libero at efficitur tristique, nisi tellus fermentum dolor, ut hendrerit est tortor sit amet quam.
    Phasellus nibh leo, rutrum at velit ut, laoreet vulputate leo. Praesent sit amet dignissim lectus, vel convallis odio. Sed sed fermentum mauris.
    Curabitur pulvinar turpis maximus porta aliquet.
  </p>
  <p>
    Quisque dictum velit leo, eu iaculis urna blandit sed. Mauris tortor justo, suscipit vitae pellentesque vel, vulputate et felis. Nullam vitae enim nec nibh lacinia iaculis.
    Donec viverra fermentum nibh gravida dapibus. Aliquam at semper justo, nec elementum urna. Mauris finibus felis eu tellus dictum, nec dapibus mauris tempor.
    Quisque elementum eros id libero fringilla, nec auctor elit pretium. Nunc arcu lorem, auctor non ornare id, laoreet ac ex.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
</div>
<div id="presProject">
  <h2>Mes projets</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget dictum ex, sed molestie augue. Aliquam mollis est nec mollis venenatis. Nulla sed facilisis erat.
    Cras fermentum lacinia sapien, quis luctus sem volutpat non. Donec fringilla erat quis metus egestas efficitur. Mauris metus augue, rutrum a convallis nec, pretium a ante.
    Mauris vitae est ullamcorper, tristique tortor eget, laoreet diam. Maecenas at risus efficitur, aliquet libero pellentesque, faucibus augue.
    Ut sed condimentum neque, vel fermentum lacus. Sed fringilla sapien eu diam interdum sodales. Sed tristique turpis maximus porta tristique.
    Maecenas ornare lobortis sollicitudin. Vivamus commodo faucibus ante, ut viverra ligula euismod at. Sed sed diam nec massa tincidunt hendrerit. Curabitur id iaculis libero.
    Mauris bibendum enim id tortor tristique, molestie posuere neque cursus.
  </p>
  <p>
    Nam sapien purus, pretium mattis dolor a, pharetra tincidunt nisl. Quisque massa erat, porttitor eu placerat et, sagittis a risus.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra luctus felis ac blandit. In gravida ipsum vitae ligula vestibulum rhoncus.
    Integer pulvinar posuere lacinia. Sed vitae blandit nisi, sit amet porttitor tortor. Curabitur et tincidunt purus, nec dictum odio.
    Phasellus dictum pellentesque lacus at posuere. Proin condimentum, libero at efficitur tristique, nisi tellus fermentum dolor, ut hendrerit est tortor sit amet quam.
    Phasellus nibh leo, rutrum at velit ut, laoreet vulputate leo. Praesent sit amet dignissim lectus, vel convallis odio. Sed sed fermentum mauris.
    Curabitur pulvinar turpis maximus porta aliquet.
  </p>
  <p>
    Quisque dictum velit leo, eu iaculis urna blandit sed. Mauris tortor justo, suscipit vitae pellentesque vel, vulputate et felis. Nullam vitae enim nec nibh lacinia iaculis.
    Donec viverra fermentum nibh gravida dapibus. Aliquam at semper justo, nec elementum urna. Mauris finibus felis eu tellus dictum, nec dapibus mauris tempor.
    Quisque elementum eros id libero fringilla, nec auctor elit pretium. Nunc arcu lorem, auctor non ornare id, laoreet ac ex.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
  <p>
    Morbi faucibus sodales tortor, ac finibus est congue ac. Proin vitae tellus et odio scelerisque posuere. Phasellus eleifend ante neque, id tempor turpis varius pulvinar.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent suscipit malesuada sem. Ut id dictum risus, et maximus nibh.
    Integer rutrum consectetur commodo. Nulla efficitur vehicula eleifend. Pellentesque viverra vestibulum sodales. Curabitur luctus diam in elit varius scelerisque.
    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus nec eros sed mi cursus accumsan eu at ligula. Sed ut pretium arcu.
    Fusce commodo nisi id odio tincidunt, finibus eleifend purus tincidunt.
  </p>
  <p>
    Duis arcu libero, lacinia id congue eget, pretium eu magna.
    Pellentesque ut pulvinar turpis, laoreet laoreet ligula. Ut ut leo eros. Praesent sagittis elit magna, sed ultricies est mattis vel.
    Sed imperdiet at sem eget elementum. Vestibulum vitae semper arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Quisque consectetur purus augue, in tincidunt ipsum consequat id. Fusce mattis iaculis egestas. Donec in leo a purus convallis imperdiet.
  </p>
</div>