<div id="bloc-presentation">
  <h3>Hello !</h3>
  My name is Kévin Bourbasquet.
  </br>
  I am a student on IT developement (Web and Software) and passionate about a lot of subjects: piano, photography, drawing, astronomy, ...
  </br>
  What I like above all is the discovery! I am very curious and interested in all fields.
  </br>
</div>