<div id="bloc-projects">
  <h2>Projets</h2>
  <p>
    I present here some projects I want to realize.
    I will show as the progress of the ideas and the realization of the projects, as well as the final result
  </p>
</div>