<div id="watchs">
  <h2>Watch</h2>
  <p>
    This space is intended for news about JavaScript frameworks.
    </br>
    <i>But what is a framework? and what is JavaScript?</i>
    </br>
    A framework is a set of tools and software components that make up a software or application; It lays the foundations of a software or its application skeleton.
    In addition, JavaScript is a scripting language mainly used in dynamic pages but also for servers with the use of Node.js, for example.
  </p>
  <p class="NB">
    This section is destined to strongly evolve but is for the moment almost inexploitable.
  </p>
</div>