{# templates/outils/menu.html.twig #}
<nav>
    <ul>
        <li>
            <a href="">Présentation</a>
        </li>
        <li>
            <a href="">C.V</a>
        </li>
        <li>
            <a href="">Projets</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="">Projet 1</a>
                <a class="dropdown-item" href="">Projet 2</a>
            </div>
        </li>
        <li>
            <a href="">Veilles</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="">Veille technologique</a>
                <a class="dropdown-item" href="">Veille juridique</a>
            </div>
        </li>
        <li>
            <a href="">Galerie</a>
        </li>
    </ul>
</nav>