{# templates/outils/menuFr.html.twig #}
{% extends 'base.html.twig' %}
{% block menu %}
  <nav id="menu" class="navbar navbar-expand-lg fixed-top navbar-dark">
    <h1 id="titre-page"><a class="navbar-brand" href="">Bourbasquet Kévin </a></h1>

    <ul class="navbar-nav ml-sm-5 smooth-scroll list-unstyled">
      <button class="btn btn-outline-light my-2 my-sm-0" onclick="window.open(this.href='images/cv/bourbasquet-kevin-cv.pdf');return false;" type="button">Voir C.V</button>
    </ul>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="navigation" class="navbar-nav ml-auto mr-auto smooth-scroll">
        <li class="nav-item">
          <a class="nav-link js-scrollTo" href="#Presentation">Présentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scrollTo" href="#Projects">Projets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scrollTo" href="#Watch">Veille technologique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scrollTo" href="#Gallery">Galerie</a>
        </li>
      </ul>

      <ul id="language" class="navbar-nav navbar-right">
        <li class="nav-item">
          <a href="/fr" class="nav-link active" id="boutonUrl">français</a>
        </li>
        <li class="separator nav-link">/</li>
        <li class="nav-item">
          <a href="/en" class="nav-link" id="boutonUrl">english</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}