<div id="bloc-presentation">
  <h3>Bonjour !</h3>
  <p>
    Je m'appelle Kévin Bourbasquet.
    </br>
    Je suis étudiant en développement informatique (Web et Logiciel) et passioné par bon nombre de sujets : le piano, la photo, le dessin, l'astronomie, ...
    </br>
    Ce qui me plaît avant tout, c'est la découverte ! Je suis très curieux et m'intéresse un peu à tous les domaines.
    </br>
  </p>
</div>