<div id="bloc-projects">
  <h2>Projets</h2>
  <p>
    Je présente ici quelque projets que je tiens à réaliser.
    J'afficherais au fur et à mesure l'avancée des idées et de la réalisation des projets, ainsi que le résultat final.
  </p>
</div>