<div id="watchs">
  <h2>Veille</h2>
  <p>
    Cet espace est destiné à l'actualité concernant les frameworks JavaScript.
    </br>
    <i>Mais qu'est-ce qu'un framework ? et qu'est-ce que JavaScript ?</i>
    </br>
    Un framework est un ensemble d'outils et de composants logiciels à la base d'un logiciel ou d'une application ; Il établit les fondations d'un logiciel ou son squelette applicatif.
    Par ailleurs, JavaScript est un langage de programmation de scripts principalement employé dans les pages dynamiques mais aussi pour les serveurs avec l'utilisation de Node.js, par exemple.
  </p>
  <p class="NB">
    Cette section est vouée à fortement évoluer mais est pour l'instant quasi inexploitable.
  </p>
</div>